
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xưởng Game</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Contents/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Contents/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Contents/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Contents/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Contents/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Contents/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Contents/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Contents/style.css" type="text/css">
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="@Url.Action("Index","Home")"><img src="~/Assets/Img/logo.jpg" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="@Url.Action("Index","ShoppingCart")"><i class="fa fa-shopping-bag"></i> <span>0</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Tiếng Việt</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="@Url.Action("Login","Accounts")"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("FamousGame", "FamousGame", "Home")</li>
                <li>
                    @Html.ActionLink("Page", "Page", "Home")
                    <ul class="header__menu__dropdown">
                        <li>@Html.ActionLink("Shop Details", "ShopDetails", "Home")</li>
                        <li>@Html.ActionLink("Shopping Cart", "ShoppingCart", "Home")</li>
                        <li>@Html.ActionLink("Check Out", "CheckOut", "Home")</li>
                        <li>@Html.ActionLink("Blog Details", "Detail", "Blog")</li>

                    </ul>
                </li>
                <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>
                    @Html.ActionLink("Game News", "GameNews", "Home")
                </li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> xuonggamedinh@gmail.com</li>
                <li>Trai đẹp bán Game rẻ chỉ từ 30$</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> xuonggamedinh@gmail.com</li>
                                <li>Trai đẹp bán Game rẻ chỉ từ 30$</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="img/language.png" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Tiếng Việt</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="@Url.Action("Login","Accounts")"><i class="fa fa-user"></i> Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="@Url.Action("Index","Home")"><img src="~/Assets/Img/logo.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="">@Html.ActionLink("Home", "Index", "Home")</li>

                            <li>
                                <a href="#">Page</a>
                                <ul class="header__menu__dropdown">
                                    <li>@Html.ActionLink("Shop Details", "ShopDetails", "Home")</li>
                                    <li>@Html.ActionLink("Shopping Cart", "Index", "ShoppingCart")</li>
                                    <li>@Html.ActionLink("Check Out", "CheckOut", "ShoppingCart")</li>
                                    <li>@Html.ActionLink("Blog Details", "Detail", "Blog")</li>

                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("Game", "Index", "Product")
                                <ul class="header__menu__dropdown">
                                    <li>@Html.ActionLink("FamousGame", "FamousGame", "Home")</li>
                                    <li>
                                        @Html.ActionLink("Game News", "GameNews", "Home")
                                    </li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
                            <li>@Html.ActionLink("Contact", "Index", "About")</li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="@Url.Action("Index","ShoppingCart")"><i class="fa fa-shopping-bag"></i> <span>0</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span>$150.00</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="~/Assets/Img/logo.jpg" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 113/13B An Phú Đông 10 Q12 TpHcm</li>
                            <li>Phone: +84 275.998.999</li>
                            <li>Email: xuonggamedinh@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.nice-select.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.slicknav.js"></script>
    <script src="~/Scripts/mixitup.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>