@model xuonggame.Models.UserModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="vh-100" style="max-height:500px">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" >

                @using (Html.BeginForm("Login", "Accounts", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <a href="#" style="color:aliceblue"><i class="fa fa-facebook"></i></a>
                            </button>

                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <a href="#" style="color:aliceblue"><i class="fa fa-twitter"></i></a>
                            </button>

                            <button type="button" class="btn btn-primary btn-floating mx-1">
                                <a href="#" style="color:aliceblue"><i class="fa fa-linkedin"></i></a>
                            </button>
                        </div>

                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0">Or</p>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control form-control-lg", placeholder = "Enter a valid email address or User Name" })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            @Html.PasswordFor(model => model.UserPassword, new { @class = "form-control form-control-lg", placeholder = "Enter password" })
                            @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "form-label" })
                        </div>

                        <div class="d-flex justify-content-between align-items-center">

                            <!-- Checkbox -->
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                <label class="form-check-label" for="form2Example3">
                                    Remember me
                                </label>
                            </div>
                            <a href="#!" class="text-body">Forgot password?</a>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">

                            <input type="submit" value="Login" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;" />
                            <p class="small fw-bold mt-2 pt-1 mb-0">
                                Don't have an account? <a href="@Url.Action("Signup","Accounts")"
                                                          class="link-danger">Register</a>
                            </p>
                        </div>
                    
                }

               

            </div>
        </div>
    </div>

</section>