@model IEnumerable<xuonggame.Models.Blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publish_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImgBlog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publish_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImgBlog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
    </tr>
    <tr>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.blog_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.blog_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.blog_id })
        </td>
    </tr>
}

</table>
